# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# VS Code, PyCharm 등 에디터 설정
.vscode/
.idea/

# Environment variables
.env
ssl

# app 파일
app.py
run.py

# MacOS
.DS_Store